<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% block brand %}WikiStack{% endblock %}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	{% block tabs %}
      	{% endblock %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container" style="padding-top: 50px;">
   {% block content_title %}{% endblock %}
   {% block content %}{% endblock %}
</div><!-- /.container -->

  </body>
</html>